#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  //grid-template-columns: 20% 80%;
  margin: 5px 0;
  padding: 0 15px;
  position: relative;

  h1 {
    margin: 0 0 5px 0;
  }
  .launch-details {
    display: flex;
  }  
}

@media screen and (max-width: 700px) {
  .App {
    .launch-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      .filter-wrapper {
        margin-bottom: 10px;
      }

      .launch-list-wrapper {
        margin: 0;
        .launch-card {
          margin: 0 0 10px 0;
        }
      }
    }  
  }
}
